.main-logo {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 300px;
}

main {
    width: 500px;
    margin: auto;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #1976d2;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background-color: #469df5;
}
